/* You can add global styles to this file, and also import other style files */

.bg-img
{
  background-image: url('/assets/background.jpg');
  /*background-position: center;*/
  background-repeat: no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0
}
.notFound {
  margin: 100px auto;
  position: relative;
  text-align: center;
}
.page-title h3, .page-title h4 {
  margin: 0;
  font-size: 2.3rem
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
