/*NAV-BAR*/
.img-xs {
  width: 37px;
  height: 37px;
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
  padding: 10px;
}


/*SIDEBAR*/
.sidebar {
  padding-top: 25px;
  background-color: #F8F9FA;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  border-right: 1px solid #d9d9d9;
  position: fixed;
}


/*CONTENT*/
main, footer {
  margin-left: 250px;
  margin-top: 5px;
}

.content {
  padding: 0 30px
}
