<nav class="navbar navbar-light " style="background-color: #51c6ea">
  <a class="navbar-brand " href="/overview">Андромеда</a>

  <ul class="nav justify-content-end align-middle">
    <!--<li class="nav-item">-->
    <!--<a class="nav-link active" href="#">Active</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Link</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Link</a>-->
    <!--</li>-->
    <li class="nav-item dropdown d-none d-xl-inline-block">
      <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
        <img class="img-xs rounded-circle" src="../../../../assets/face.png" alt="Изображение профиля">
      </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
        <a class="dropdown-item" href="#">Изменить пароль</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Выход</a>
      </div>
    </li>
  </ul>
</nav>
